---
// import "@/styles/globals.css";
import { storyblokClient } from "@/utils/storyblok-api-client";
import HolidayProgramWeek from "@/components/holiday-program-week.astro";
import Layout from "@/layout/Layout.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";

const programWeeks = await storyblokClient.getHolidayPrograms({
  status: import.meta.env.DEV ? "draft" : "published",
});
---

<Layout
  title="Holiday Programs"
  description="Fizz Kidz holiday programs run in our studio every school holidays. Morning and afternoon sessions."
>
  <main class="m-auto block max-w-[1380px] px-5 pt-8">
    <BreadcrumbWrapper
      client:load
      items={[
        { type: "not-link", title: "In Studios" },
        {
          type: "dropdown",
          title: "Holiday Programs",
          items: [
            {
              title: "Birthday Parties",
              path: "birthday-parties",
            },
            {
              title: "Holiday Programs",
              path: "holiday-programs",
            },
          ],
        },
      ]}
    />
    {programWeeks.map((week) => <HolidayProgramWeek week={week} />)}
  </main>
</Layout>
