---
import PageIntro from "@/components/page-intro.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import Layout from "@/layout/Layout.astro";
import hero from "@/assets/images/pages/parties/book-a-party/hero.jpg";
import BookAPartyForm from "@/components/react/forms/book-a-party-form";
---

<Layout
  title="Book Your Kids Birthday Party Venue in Melbourne with Fizz Kidz"
  description="To book a party, fill in the form, and we will be in touch!"
>
  <main class="m-auto block max-w-[1380px] px-5 pt-4">
    <BreadcrumbWrapper
      items={[
        { type: "link", title: "Birthday Parties", path: "/birthday-parties/" },
        {
          type: "link",
          title: "Book a Party",
          path: "/birthday-parties/book-a-party/",
        },
      ]}
    />
    <PageIntro
      type="image"
      image={hero}
      imageAlt="Kids smiling under a Fizz Kids logo"
      color="blue"
      actionButtonPath="#book"
      actionButtonText="Book a party at Fizz Kidz"
      subtitle="We can't wait to host your party with us!"
    >
      <span slot="title">Book a Kids Birthday Party</span>
      <span slot="content">
        Fizz Kidz are the leading experts in Melbourne Kids Birthday Parties! We
        specialise in Slime Birthday Parties, Glamour Birthday Parties, Science
        Birthday Parties and more!<br /><br /> Our party times book up quickly. We
        suggest getting in touch at least 6 weeks before your child's birthday.
      </span>
    </PageIntro>
    <div id="book"></div>
    <div class="m-auto mb-12 mt-24 max-w-4xl p-4">
      <p class="mb-12 text-center font-lilita text-4xl">
        Feel free to <a class="text-[#9A57E6] underline" href="tel:+61390598144"
          >call us</a
        > or fill in the form and we will be in touch within 24 hours!
      </p>
      <BookAPartyForm client:idle />
    </div>
  </main>
</Layout>
