---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import scienceParty from "@/assets/images/pages/parties/science-party.jpg";
import science from "@/assets/images/pages/parties/packages/science.png";
import Creations from "@/components/party-package-creations.astro";
import BubblingVolcanoes from "@/components/creations/bubbling-volcanoes.astro";
import WobblyGalaxySoap from "@/components/creations/wobbly-galaxy-soap.astro";
import BugsInBathBombs from "@/components/creations/bugs-in-bath-bombs.astro";
import InstantSnowSlime from "@/components/creations/instant-snow-slime.astro";
import FizzyBathBombsGreen from "@/components/creations/fizzy-bath-bombs-green.astro";
import SandSlime from "@/components/creations/sand-slime.astro";
import MonsterSlimePurple from "@/components/creations/monster-slime-purple.astro";
import FluffySlimeGreen from "@/components/creations/fluffy-slime-green.astro";
import WobblyStarSoap from "@/components/creations/wobbly-star-soap.astro";
---

<Layout
  title="Science Party | Fizz Kidz"
  description="Does your kid love science, experimenting, and making a mess? Then this party package is for them!"
>
  <PartyLayout partyPackage="Science">
    <PageIntro
      subtitle="Fizz, Bubble, Explode! For all the little scientists out there, this is for you!"
      image={scienceParty}
      imageAlt="a kid in awe as her science experiment bubbles"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party#book"
      color="blue"
    >
      <span slot="title">Kids Science Birthday Parties</span>
      <span slot="content">
        Fizz Kidz science birthday parties are scientifically proven to be
        fizzing fantastic!
      </span>
    </PageIntro>
    <Creations
      partyPackage="Science"
      image={science}
      imageAlt="Science Party Package"
    >
      <BubblingVolcanoes slot="1" />
      <FizzyBathBombsGreen slot="2" />
      <WobblyGalaxySoap slot="3" />
      <BugsInBathBombs slot="4" />
      <InstantSnowSlime slot="5" />
      <SandSlime slot="6" />
      <MonsterSlimePurple slot="7" />
      <FluffySlimeGreen slot="8" />
      <WobblyStarSoap slot="9" />
    </Creations>
  </PartyLayout>
</Layout>
