---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import tieDye from "@/assets/images/pages/parties/tie-dye-party.jpg";
import tieDyePackage from "@/assets/images/pages/parties/packages/tie-dye.png";
import Creations from "@/components/party-package-creations.astro";
import TieDyeSoap from "@/components/creations/tie-dye-soap.astro";
import TieDyePillow from "@/components/creations/tie-dye-pillow.astro";
import RainbowBathSalts from "@/components/creations/rainbow-bath-salts.astro";
import TieDyeToteBags from "@/components/creations/tie-dye-tote-bags.astro";
import TieDyeSocks from "@/components/creations/tie-dye-socks.astro";
import TieDyeScrunchies from "@/components/creations/tie-dye-scrunchies.astro";
---

<Layout
  title="Tye Dye Parties | Fizz Kidz"
  description="A party package brimming with colour. Tie dye parties are sure to be memorable!"
>
  <PartyLayout partyPackage="Tie Dye">
    <PageIntro
      subtitle="Tie Dye birthday parties are the best kids parties!"
      image={tieDye}
      imageAlt="tie dyed shoelaces"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party#book"
      color="pink"
    >
      <span slot="title">Tie Dye Kids Birthday Party</span>
      <span slot="content">
        Enjoy the process of Tie Dying your favourite items and take the item
        home to enjoy!
      </span>
    </PageIntro>
    <Creations
      partyPackage="Tie Dye"
      image={tieDyePackage}
      imageAlt="Tie Dye Party Package"
    >
      <TieDyeSoap slot="1" />
      <TieDyePillow slot="2" />
      <RainbowBathSalts slot="3" />
      <TieDyeToteBags slot="4" />
      <TieDyeSocks slot="5" />
      <TieDyeScrunchies slot="6" />
    </Creations>
  </PartyLayout>
</Layout>
