---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import unicornParty from "@/assets/images/pages/parties/unicorn-party.jpg";
import unicorn from "@/assets/images/pages/parties/packages/unicorn.png";
import Creations from "@/components/party-package-creations.astro";
import UnicornSlime from "@/components/creations/unicorn-slime.astro";
import UnicornGlitterShimmer from "@/components/creations/unicorn-glitter-shimmer.astro";
import UnicornSoap from "@/components/creations/unicorn-soap.astro";
import UnicornBathBombs from "@/components/creations/unicorn-bath-bombs.astro";
import UnicornBathCrystals from "@/components/creations/unicorn-bath-crystals.astro";
import ButterflySoap from "@/components/creations/butterfly-soap.astro";
---

<Layout
  title="Unicorn Parties | Fizz Kidz"
  description="A party package full of sparkles, glitter and unicorns!"
>
  <PartyLayout partyPackage="Unicorn">
    <PageIntro
      subtitle="Welcome to the magical world of Unicorns!"
      image={unicornParty}
      imageAlt="a purple butcket of glycerine cubes, with pretty colourful unciron soaps on top"
      actionButtonText="Book a party"
      actionButtonPath="/birthday-parties/book-a-party#book"
      color="pink"
    >
      <span slot="title">Unicorn Kids Birthday Parties</span>
      <span slot="content">
        Here we love everything sparkles, glitter and magic!
      </span>
    </PageIntro>
    <Creations
      partyPackage="Unicorn"
      image={unicorn}
      imageAlt="Unicorn Party Package"
    >
      <UnicornSlime slot="1" />
      <UnicornGlitterShimmer slot="2" />
      <UnicornBathBombs slot="3" />
      <UnicornSoap slot="4" />
      <UnicornBathCrystals slot="5" />
      <ButterflySoap slot="6" />
    </Creations>
  </PartyLayout>
</Layout>
