---
// import "@/styles/globals.css";
import Layout from "@/layout/Layout.astro";
import { Image } from "astro:assets";
import banner from "@/assets/images/pages/home/banner.jpg";
import banngerGirl from "@/assets/images/pages/home/banner-girl.png";
---

<Layout
  title="Fizz Kidz"
  description="Fizz Kidz offers unique and fun holiday programs, after school programs, activations, events and kids birthday parties across Australia."
>
  <main>
    <section class="relative h-[70svh] min-[1000px]:h-[600px]">
      <Image
        class="h-[70svh] w-full object-cover min-[1000px]:h-[600px]"
        src={banner}
        alt="banner background"
      />
      <div
        class="absolute left-0 right-0 top-0 m-auto flex h-[70svh] w-full flex-col justify-between min-[1000px]:h-[600px] min-[1000px]:flex-row min-[1000px]:items-center min-[1150px]:max-w-[90rem] min-[1150px]:flex-row"
      >
        <div
          class="mt-8 max-w-[29rem] px-4 min-[1000px]:w-[31rem] min-[1000px]:max-w-[31rem] min-[1000px]:pl-12 min-[1150px]:mt-0 min-[1150px]:w-[39rem] min-[1150px]:max-w-[39rem]"
        >
          <p
            class="min-[460px]:leading[1.4] whitespace-nowrap text-justify font-lilita text-5xl leading-[1.4] text-white [text-align-last:justify] min-[380px]:text-6xl min-[380px]:leading-[1.4] min-[460px]:text-7xl min-[1150px]:text-8xl"
          >
            We make kids
          </p>
          <!-- <div class="whitespace-nowrap text-justify">
            <span
              class="font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
            >
              We
            </span>
            <span
              class="mr-4 font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
              >make</span
            >
            <span
              class="font-lilita text-6xl leading-[1.4] text-white min-[460px]:text-7xl min-[1150px]:text-8xl"
              >kids</span
            >
            <span class="inline-block h-0 w-full"></span>
          </div> -->
          <div class="text-justify">
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >S</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >m</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >i</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >l</span
            >
            <span
              class="font-lilita text-7xl uppercase leading-[0.6] text-white min-[460px]:text-9xl min-[1150px]:text-[10rem] min-[1150px]:leading-[0.8]"
              >e</span
            >
            <span class="inline-block h-0 w-full"></span>
          </div>
          <p
            class="leading-1 font-lilita text-2xl text-white min-[1150px]:text-4xl"
          >
            Birthday Parties, Holiday Programs, After School Programs and more!
          </p>
        </div>
        <div class="relative h-full min-[1000px]:w-1/2">
          <Image
            class="absolute bottom-0 right-0 h-[300px] w-auto object-cover min-[800px]:h-[400px] min-[1000px]:h-[500px]"
            src={banngerGirl}
            alt="A girl smiling and holding a green bubbling volcano"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
