---
import { Image } from "astro:assets";
import type { ClassValue } from "clsx";
import { cn } from "./react/lib/utils";

type Props = {
  image: ImageMetadata;
  imageAlt: string;
  eager?: boolean;
  className?: ClassValue;
};

const { image, imageAlt, eager = false, className } = Astro.props;
---

<div class={cn("rounded-xl shadow-md bg-white", className)}>
  <div class="h-52 overflow-hidden rounded-t-xl">
    <Image
      loading={eager ? "eager" : "lazy"}
      src={image}
      alt={imageAlt}
      width={500}
      class="h-full w-full rounded-t-xl object-cover transition-transform duration-500 ease-in-out group-hover:scale-110"
    />
  </div>
  <slot class="h-max" name="content" />
</div>
