---
import { Image } from "astro:assets";
import type { ClassValue } from "clsx";
import { cn } from "./react/lib/utils";

type Props = {
  image: ImageMetadata;
  imageAlt: string;
  className?: ClassValue;
};

const { image, imageAlt, className } = Astro.props;
---

<div class={cn("flex w-full flex-col rounded-lg shadow-md", className)}>
  <div>
    <Image src={image} alt={imageAlt} class="h-52 rounded-t-lg object-cover" />
  </div>
  <!-- <div class="h-full p-8"> -->
  <slot name="content" />
  <!-- </div> -->
</div>
