---
import { getDateSuffix } from "@/utils/dates";
import type { HolidayProgramWeek } from "@/utils/storyblok-api-client";
import { DateTime } from "luxon";
import StarBulletPoints from "./star-bullet-points.astro";
import purpleCalendar from "@/assets/images/pages/holiday-programs/purple-calendar.png";
import { Image } from "astro:assets";
import { cn } from "./react/lib/utils";
import type { ClassValue } from "clsx";

type Props = {
  program: HolidayProgramWeek["programs"][number];
  className?: ClassValue;
};

const { program, className } = Astro.props;
---

<div class={cn("flex flex-col", className)}>
  <div
    class={cn("h-10 mb-4 hidden", {
      "sm:block lg:hidden": program.slot === "afternoon",
    })}
  >
  </div>
  <div class={cn("mb-4 flex gap-4", { hidden: program.slot === "afternoon" })}>
    <Image
      class="h-10 w-fit"
      src={purpleCalendar}
      alt="icon of a purple calendar date"
    />
    <p class="font-lilita text-3xl">
      {
        DateTime.fromJSDate(program.date).toFormat("EEE d") +
          getDateSuffix(program.date.getDate())
      }
    </p>
  </div>
  <div class="flex flex-1 flex-grow flex-col rounded-xl shadow-around">
    <div class="relative w-full rounded-t-xl">
      <Image
        class="h-40 w-full rounded-t-xl object-cover"
        src={program.image}
        alt="background image of holiday program"
        width={500}
        height={500}
      />
      <span
        class={cn(
          "absolute bottom-4 right-4 rounded-full p-4 text-xs font-semibold uppercase text-white",
          {
            "bg-[#42D4F3]": program.slot === "morning",
            "bg-[#9044E2]": program.slot === "afternoon",
          },
        )}
      >
        {
          program.slot === "morning" ? "Morning Session" : "Afternoon Session"
        }</span
      >
    </div>
    <div class="flex-grow rounded-b-xl bg-white p-6">
      <p class="mb-4 font-lilita text-2xl" style={{ color: program.color }}>
        {program.title}
      </p>
      <p class="text-nowrap text-sm font-semibold uppercase">
        {
          `${DateTime.fromJSDate(program.date).toFormat("EEEE d")}${getDateSuffix(
            program.date.getDate(),
          )} 
            ${DateTime.fromJSDate(program.date).toFormat("MMM")}`
        }
      </p>
      <p class="text-sm font-semibold uppercase">
        {program.slot === "morning" ? "10:00am  - 12:30pm" : "1:30pm - 4:00pm"}
      </p>
      <StarBulletPoints className="mt-4 text-sm" content={program.creations} />
    </div>
  </div>
</div>
