---
import type { HolidayProgramWeek } from "@/utils/storyblok-api-client";
import HolidayProgramSession from "./holiday-program-session.astro";

type Props = {
  week: HolidayProgramWeek;
};

const { week } = Astro.props;

const morningPrograms = week.programs.filter((it) => it.slot === "morning");
const afternoonPrograms = week.programs.filter((it) => it.slot === "afternoon");
---

<h1 class="mt-16 text-center">{week.title}</h1>
<h2 class="mb-16 text-center">{week.dates}</h2>
<div class="flex justify-center gap-12">
  {
    morningPrograms.map((program) => (
      <HolidayProgramSession program={program} />
    ))
  }
</div>
<div class="mt-12 flex justify-center gap-12">
  {
    afternoonPrograms.map((program) => (
      <HolidayProgramSession program={program} />
    ))
  }
</div>
