---
import { Image } from "astro:assets";
import faq from "@/assets/images/pages/parties/faq.png";
import FaqAccordion from "./react/faq-accordion";
---

<section class="my-12 md:my-24">
  <h6 class="mb-4 text-center font-lilita text-4xl md:text-5xl">
    Frequently Asked Questions
  </h6>
  <div class="flex w-full flex-col items-center gap-8 md:flex-row">
    <Image class="hidden w-2/5 md:block" src={faq} alt="Three girls smiling" />
    <div class="w-full md:w-3/5">
      <FaqAccordion
        client:visible
        items={[
          {
            question: "When do I choose creation options?",
            answer: "About 2 weeks before the party.",
          },
          {
            question: "When do I let you know numbers?",
            answer:
              "About 2 weeks before the party. We will only charge you for the number of kids that turn up!",
          },
          {
            question: "Can I change the party food if I like?",
            answer: "Yes we have options!",
          },
          {
            question: "When do you take payment?",
            answer: "At the end of the party. We do not take any deposit!",
          },
          {
            question: "Can we bring food for parents?",
            answer: "Sure, just make sure it's nut free.",
          },
          {
            question: "Can parents stay during the party?",
            answer: "Sure, parents can stay or drop off.",
          },
          {
            question: "Is there a maximum patron capacity?",
            answer:
              "Yes, it is 35 in total (of adults and children combined) for all venues.",
          },
        ]}
      />
    </div>
  </div>
</section>
