---
import { Image } from "astro:assets";
import partyPacks from "@/assets/images/pages/parties/party-packs.png";
import StarBulletPoints from "./star-bullet-points.astro";
---

<section class="my-24 flex flex-col gap-16 lg:flex-row lg:gap-8">
  <div class="flex w-full flex-col justify-center gap-4 lg:w-1/2">
    <p class="text-center font-lilita text-5xl lg:text-start">
      Fizz Kidz Party Packs
    </p>
    <p class="text-center font-lilita text-3xl text-[#41D5F3] lg:text-start">
      We have your party gift packs ready!
    </p>
    <p class="text-center font-gotham text-lg font-medium lg:text-start">
      Looking for party take-home gifts for your guests? We have you covered!
      Fizz Kidz Activity Kits are super unique and packed with all the materials
      kids need to keep the creation making going after the party! Your guests
      will absolutely love you for this super awesome extra treat! Activity
      packs are $15 each and you can order them a week before your child's
      party.<br /><br />If a child is unwell, and can't attend, don't worry - we
      will only charge you for the kids that are there!
    </p>
    <div class="mt-4 lg:ml-12">
      <p class="mb-6 font-lilita text-3xl">Choose from:</p>
      <StarBulletPoints
        content={[
          "Bubbling Volcano Activity Party Pack",
          "Fluffy Slime Activity Party Pack",
          "Dinasour Bath Bomb Activity Party pack",
          "Sparkling Lip-Balm Activity Party Pack",
        ]}
      />
    </div>
  </div>
  <Image src={partyPacks} alt="Fizz Kids party packs" class="w-full lg:w-1/2" />
</section>
