---
import { Image } from "astro:assets";

type Props = {
  color: string;
  image: ImageMetadata;
  imageAlt: string;
  title: string;
  path: string;
};

const { color, image, imageAlt, path, title } = Astro.props;
---

<a class="flex min-w-40 max-w-96 flex-col items-center" href={path}>
  <Image src={image} alt={imageAlt} width={250} />
  <h4 class="mb-4 text-center font-lilita text-2xl" style={{ color }}>
    {title}
  </h4>
  <p class="font-gotham text-sm font-semibold uppercase" style={{ color }}>
    Learn more
  </p>
</a>
