---
import AdditionalInfoAccordion from "./react/parties/additional-info-accordion";
import StarBulletPoints from "./star-bullet-points.astro";

type Props = {
  partyPackage: string;
};

const { partyPackage } = Astro.props;

const { default: blueDrop } = await import(
  `@/assets/images/pages/parties/drop-blue.svg?raw`
);
---

<section class="relative mb-16">
  <h6 class="my-16 text-center font-lilita text-5xl md:my-20">
    Additional information
  </h6>
  <div class="flex flex-col gap-8 lg:flex-row">
    <div class="relative flex-1">
      <div class="absolute -bottom-20 -right-12 z-0 hidden lg:block">
        <Fragment set:html={blueDrop} />
      </div>
      <div
        class="relative z-10 h-full w-full rounded-2xl bg-white p-8 shadow-around"
      >
        <p class="mb-8 font-lilita text-4xl text-[#42D4F3]">Inclusions</p>
        <p class="mb-4 font-lilita text-2xl">
          {partyPackage} parties include
        </p>
        <StarBulletPoints
          content={[
            "Exclusive Fizz Kidz Venue",
            "Children pick their own glitters, colours and shapes as they make their awesome Fizz Kidz creations!",
            "Dancing games - obviously!",
            "Two amazing Fizz Kidz Party Hosts",
            "Individual party bags (to take their creations home in - not lolly bags)",
            "Party food ($4 extra per child)",
          ]}
        />
      </div>
    </div>
    <div class="relative flex-1">
      <div class="absolute -bottom-20 -right-12 z-0 hidden lg:block">
        <Fragment set:html={blueDrop} />
      </div>
      <div class="relative z-10 h-full rounded-2xl bg-white p-8 shadow-around">
        <p class="mb-8 font-lilita text-4xl text-[#42D4F3]">Party Structure</p>
        <p class="mb-4 font-lilita text-2xl">
          What would a 1.5 hour party look like?
        </p>
        <p class="mb-2 font-gotham font-medium">
          Arrive 10 minutes before the party starts to settle in, place your
          cake down and wait to meet and greet your friends!
        </p>
        <p class="mb-2 font-gotham font-medium">
          Spend the first hour making two selected creations and playing party
          games.
        </p>
        <p class="mb-2 font-gotham font-medium">
          Second 30 minutes, our staff will serve the kids their party food and
          help you with cake celebrations.
        </p>
        <p class="mb-2 font-gotham font-medium">
          Each child then takes home their creations in their individual Fizz
          Kidz party bag!
        </p>
        <p class="mb-2 font-gotham font-medium">
          Our 2 hour parties allow an extra 30 minutes to make an extra
          creation!
        </p>
      </div>
    </div>
    <div class="relative flex-1">
      <div class="relative z-10 h-full rounded-2xl bg-white p-8 shadow-around">
        <p class="mb-8 font-lilita text-4xl text-[#42D4F3]">Party Food Menu</p>
        <p class="mb-4 font-lilita text-2xl">
          Food included in the Food Package ($4 per child)
        </p>
        <StarBulletPoints
          content={[
            "Hot Party Pies (Beef)",
            "Hot Sausage rolls (Beef)",
            "A bowl of fresh seasonal fruit",
            "Potato chips (crisps) (GF, DF, V)",
            "Corn chips (GF, DF, V)",
            "Chocolate wafers - 'may contain hazelnuts'",
            "Popcorn (GF, V)",
            "Cordial and water",
          ]}
        />
        <p class="mt-8 text-xs font-semibold">
          GF - Gluten Free, DF - Dairy free, V - Vegetarian, VV - Vegan
        </p>
        <AdditionalInfoAccordion client:idle />
      </div>
    </div>
  </div>
</section>
