---
type Props = {
  text: string;
  path: string;
};

const { text, path } = Astro.props;
---

<a
  class="rounded-full bg-[#F6BA33] px-7 py-5 font-semibold uppercase text-white shadow-[0px_0px_35px_0px_rgba(246,186,51,0.75)] transition-colors duration-300 ease-in-out hover:bg-[#9C59E4]"
  href={path}
>
  {text}
</a>
