---
import { Image } from "astro:assets";
import ReviewsCarousel from "./react/reviews-carousel";
import reviewsIcon from "@/assets/images/reviews.png";

export type Review = { review: string; writtenBy: string; writtenYear: string };

type Props = {
  title: string;
  reviews: Review[];
};

const { title, reviews } = Astro.props;
---

<section class="mt-32 flex flex-col gap-6 xl:mt-24 xl:flex-row">
  <p
    class="flex min-w-60 flex-1 flex-col items-center justify-center gap-4 text-center font-lilita text-4xl"
  >
    <Image src={reviewsIcon} alt="blue reviews icon " class="w-24" />
    {title}
  </p>
  <ReviewsCarousel client:visible reviews={reviews} />
</section>
