---
import { Image } from "astro:assets";

type Props = {
  color: string;
  number?: string;
  icon?: ImageMetadata;
  iconAlt?: string;
};

const { number, color, icon, iconAlt } = Astro.props;
---

<div class="w-full flex-1 justify-stretch rounded-xl shadow-md">
  <div
    class="relative flex h-28 items-center rounded-t-xl p-8"
    style={{ background: color }}
  >
    <h3 class="font-lilita text-3xl text-white">
      <slot name="title" />
    </h3>
    <span class="absolute -bottom-5 right-4 font-lilita text-9xl text-white"
      >{number}</span
    >
  </div>
  <div class="relative min-h-[420px] px-8 py-4">
    <slot name="content" />
    {
      icon && (
        <Image
          src={icon}
          alt={iconAlt || ""}
          class="absolute bottom-2 right-2"
          loading="eager"
        />
      )
    }
  </div>
</div>
