---
import { cn } from "./react/lib/utils";

type Props = {
  title: string;
  color: string;
  number?: string;
  icon?: string;
  iconAlt?: string;
  background?: string;
  backgroundPosition?: string;
  iconClass?: astroHTML.JSX.HtmlHTMLAttributes["class"];
};

const {
  title,
  number,
  color,
  icon,
  background,
  backgroundPosition,
  iconClass,
} = Astro.props;
---

<div
  class="relative z-10 flex w-full flex-1 flex-col items-stretch justify-stretch rounded-xl shadow-around"
>
  {
    background && (
      <div class={cn("absolute z-0", backgroundPosition)}>
        <Fragment set:html={background} />
      </div>
    )
  }
  <div
    class="relative flex min-h-28 flex-1 items-center rounded-t-xl p-8"
    style={{ background: color }}
  >
    <p class="pr-12 font-lilita text-3xl text-white">
      {title}
    </p>
    <span class="absolute -bottom-5 right-4 font-lilita text-9xl text-white"
      >{number}</span
    >
  </div>
  <div
    class={cn(
      "relative h-full min-h-48 bg-white px-8 py-4 z-10 rounded-b-xl",
      iconClass,
    )}
  >
    <slot name="content" />
    {
      icon && (
        <div class="absolute bottom-2 right-2">
          <Fragment set:html={icon} />
        </div>
      )
    }
  </div>
</div>
