---
import { cn } from "./react/lib/utils";

type Props = {
  color: string;
  number?: string;
  icon?: string;
  iconAlt?: string;
  background?: string;
  backgroundPosition?: string;
  iconClass?: astroHTML.JSX.HtmlHTMLAttributes["class"];
};

const { number, color, icon, background, backgroundPosition, iconClass } =
  Astro.props;
---

<div
  class="relative z-10 w-full flex-1 justify-stretch rounded-xl shadow-around"
>
  {
    background && (
      <div class={cn("absolute z-0", backgroundPosition)}>
        <Fragment set:html={background} />
      </div>
    )
  }
  <div
    class="relative flex h-28 items-center rounded-t-xl p-8"
    style={{ background: color }}
  >
    <h6 class="font-lilita text-3xl text-white">
      <slot name="title" />
    </h6>
    <span class="absolute -bottom-5 right-4 font-lilita text-9xl text-white"
      >{number}</span
    >
  </div>
  <div class={cn("relative bg-white px-8 py-4 rounded-b-xl", iconClass)}>
    <slot name="content" />
    {
      icon && (
        <div class="absolute bottom-2 right-2">
          <Fragment set:html={icon} />
        </div>
      )
    }
  </div>
</div>
