---
import { Image } from "astro:assets";
import { cn } from "./react/lib/utils";

type Props = {
  image: ImageMetadata;
  imageAlt: string;
  imageSide: "left" | "right";
};

const { image, imageAlt, imageSide } = Astro.props;
---

<div
  class={cn("shadow-around min-h-[450px] flex  rounded-2xl", {
    "flex-row": imageSide === "left",
    "flex-row-reverse": imageSide === "right",
  })}
>
  <div class="relative hidden w-3/5 md:block">
    <Image
      class={cn("absolute inset-0 h-full min-h-[450px] w-full object-cover", {
        "rounded-l-2xl": imageSide === "left",
        "rounded-r-2xl": imageSide === "right",
      })}
      src={image}
      alt={imageAlt}
    />
  </div>
  <div class="p-8 md:w-2/5">
    <slot name="content" />
  </div>
</div>
