---
import PageIntro from "@/components/page-intro.astro";
import Layout from "@/layout/Layout.astro";
import PartyLayout from "@/layout/party-layout.astro";

import bodyGlitter from "@/assets/images/pages/parties/body-glitter.jpg";

import glitz from "@/assets/images/pages/parties/packages/glitz-and-glam.png";
import GlitterSlime from "@/components/creations/glitter-slime.astro";
import GlitterFacePaint from "@/components/creations/glitter-face-paint.astro";
import RainbowBathSalts from "@/components/creations/rainbow-bath-salts.astro";
import Creations from "@/components/creations.astro";
import UnicornSoap from "@/components/creations/unicorn-soap.astro";
import FizzyBathBombs from "@/components/creations/fizzy-bath-bombs-blue.astro";
import RainbowBathBombs from "@/components/creations/rainbow-bath-bombs.astro";
import SparklingLipBalm from "@/components/creations/sparkling-lip-balm.astro";
import FluffySlimePink from "@/components/creations/fluffy-slime-pink.astro";
import SugarLipScrub from "@/components/creations/sugar-lip-scrub.astro";
---

<Layout
  title="Glitz and Glam Party | Fizz Kidz"
  description="This pamper party package is made for all things glitzy and glamorous!"
>
  <PartyLayout partyPackage="Glitz and Glam">
    <PageIntro
      subtitle="Bring the glitter, sparkles and fun to your child's next party!"
      image={bodyGlitter}
      imageAlt="hands holding colourful body glitter containers"
      actionButtonText="Book a party"
      actionButtonPath="/book-a-party"
      color="pink"
    >
      <span slot="title">Glitz and Glam Kids Birthday Party</span>
      <span slot="content">
        Make your very own sparkling and dazzling pamper products to take home
        with you after the party!
      </span>
    </PageIntro>
    <Creations partyPackage="Glitz and Glam" image={glitz} imageAlt="test">
      <GlitterSlime slot="1" />
      <GlitterFacePaint slot="2" />
      <RainbowBathSalts slot="3" />
      <RainbowBathBombs slot="4" />
      <FizzyBathBombs slot="5" />
      <UnicornSoap slot="6" />
      <SparklingLipBalm slot="7" />
      <FluffySlimePink slot="8" />
      <SugarLipScrub slot="9" />
    </Creations>
  </PartyLayout>
</Layout>
