---
import { Image } from "astro:assets";
import logo from "@/assets/images/Fizz Kidz Horizontal.png";
import NavigationMenu from "@/react-components/navigation/navigation-menu";
import { Button } from "@/components/react/ui/button";
---

<div
  class="sticky top-0 z-50 flex min-h-20 justify-center bg-white px-8 py-2 shadow-lg"
>
  <div class="flex w-full max-w-[1380px] items-center justify-between">
    <a href="/">
      <Image
        src={logo}
        alt="Fizz Kidz Logo"
        widths={[100, 200]}
        sizes="(min-width: 250px) 100, (min-width: 350px) 200"
        loading="eager"
        class="w-40 min-w-24"
      />
    </a>
    <NavigationMenu client:load />
    <Button
      className="hidden bg-[#9044E2] p-6 font-lilita text-lg uppercase hover:bg-[#F6BA33] min-[1170px]:inline-flex"
      >Get in touch</Button
    >
  </div>
</div>
