---
import { Image } from "astro:assets";
import logoHorizontal from "@/assets/images/logo-horizontal.png";
import NavigationMenu from "@/react-components/navigation/navigation-menu";
import { Button } from "@/components/react/ui/button";
---

<header
  class="sticky top-0 z-[99] flex h-16 justify-center bg-white px-2 py-2 shadow-lg min-[1280px]:h-20 min-[1280px]:px-8"
>
  <div
    class="flex w-full flex-row-reverse items-center justify-end gap-4 min-[1280px]:flex-row min-[1280px]:justify-between"
  >
    <a
      class="absolute right-2 min-[1280px]:right-8 min-[1280px]:hidden"
      href="/contact-us/#contact"
    >
      <Button
        className="bg-[#9044E2] p-6 font-lilita text-lg uppercase hover:bg-[#F6BA33]"
      >
        Get in touch
      </Button>
    </a>
    <a href="/">
      <Image
        src={logoHorizontal}
        alt="Fizz Kids Logo"
        widths={[100, 300]}
        sizes="(min-width: 250px) 100, (min-width: 350px) 300"
        loading="eager"
        class="[min-1280px]:block hidden h-12 w-fit min-[450px]:block min-[1212px]:block min-[1280px]:h-16"
      />
    </a>
    <div class="flex items-center">
      <NavigationMenu client:load />
      <a class="hidden min-[1440px]:inline-flex" href="/contact-us/#contact">
        <Button
          className="bg-[#9044E2] p-6 font-lilita text-lg uppercase hover:bg-[#F6BA33]"
        >
          Get in touch
        </Button>
      </a>
    </div>
  </div>
</header>
