---
import Header from "@/components/header.astro";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <ViewTransitions />

  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>


</html>
