---
import "@/styles/globals.css";
import Header from "@/components/header.astro";
import { ViewTransitions } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <ViewTransitions />
  <LoadingIndicator color="#9044E2" height="3px" threshold={400} />

  <body>
    <Header />
    <main id="main" class="m-auto my-8 block max-w-[1380px] px-5">
      <slot />
    </main>
  </body>


</html>
