---
import PartyInformation from "@/components/party-information.astro";
import Pricing from "@/components/pricing.astro";
import { BreadcrumbWrapper } from "@/components/react/breadcrumb-wrapper";
import { menu } from "../components/react/navigation/navigation-menu";
import MixAndMatchParties from "@/components/mix-and-match-parties.astro";
// import PartyPacks from "@/components/party-packs.astro";
import PartyReviews from "@/components/party-reviews.astro";
import PartyFaq from "@/components/party-faq.astro";
import Values from "@/components/values.astro";
import PartyPerks from "@/components/party-perks.astro";

type Props = {
  partyPackage: string;
};

const { partyPackage } = Astro.props;
---

<main>
  <div class="m-auto block max-w-[1380px] px-5 pt-4">
    <BreadcrumbWrapper
      client:idle
      items={[
        {
          type: "link",
          title: "Birthday Parties",
          path: "/birthday-parties/",
        },
        {
          type: "dropdown",
          title: `${partyPackage} Party`,
          items: menu[0].items,
        },
      ]}
    />
    <slot name="intro" />
  </div>
  <slot />
  <div class="m-auto block max-w-[1380px] px-5 pt-4">
    <Pricing />
    <PartyInformation partyPackage={partyPackage} />
    <PartyPerks />
    <PartyFaq />
    <!-- <PartyPacks /> -->
    <PartyReviews />
    <MixAndMatchParties />
    <Values />
  </div>
</main>
